body
{
	//background-color:black;//
	font-family:Verdana;
	font-size:20px;
	color:white;
}

h1{
	font-size:48px;
	color:green;
}
/*Nieodwiedzony link*/
a:link
{
	color:yellow;
}

/*Odwiedzony link*/
a:visited
{
	color:yellow;
}

/*Po najechaniu kursorem*/
a:hover
{
	color:red;
}

#container{
	width:1000px;
	margin-left:auto;
	margin-right:auto;
}
#logo{
	background-color:black;
	text-align:center;
	padding:15px;
}

#nav{
	float:left;
	background-color:lightgray;
	width:120px;
	min-height:645px;
	padding:10px;
}
#content{
	float:left;
	padding:20px;
	width:640px;
}

#ad{
	float:left;
	width:160px;
	min-height:620px;
	padding:10px;
	background-color:lightgray;
	
}
#footer{
	clear:both;
	background-color:black;
	color:white;
	text-align:center;
	padding:10px;
}